<div class="ui raised segment">
  <h2 class="ui header">种群初始化数据</h2>
  <form [formGroup]="chromoForm"
        (ngSubmit)="onSubmit(chromoForm.value)"
        class="ui form"
        [class.error]="!chromoForm.valid && chromoForm.touched">

    <div class="field"
         [class.error]="!chromoSize.valid && chromoSize.touched">
      <label for="chromosomeSize">基因长度</label>
      <input type="text"
             id="chromosomeSize"
             placeholder="8"
             [formControl]="chromoSize"
             class="required">
      <div *ngIf="chromoSize.hasError('required')"
           class="ui error message">必填</div>
      <div *ngIf="chromoSize.hasError('invalidChromo')"
           class="ui error message">必须为数字</div>
    </div>

    <div class="field"
         [class.error]="!populationSize.valid && populationSize.touched">
      <label for="populationSize">种群大小</label>
      <input type="text"
             id="populationSize"
             placeholder="1000"
             [formControl]="populationSize"
             class="required">
      <div *ngIf="populationSize.hasError('required')"
           class="ui error message">必填</div>
      <div *ngIf="populationSize.hasError('invalidChromo')"
           class="ui error message">必须为数字</div>
    </div>


    <div *ngIf="!chromoForm.valid" class="ui error message">表单格式不正确</div>
    <button type="submit" class="ui button">提交</button>
  </form>
</div>
