<div class="intro">
  <p>
    <span class="ui label green"><i class="pencil alternate icon pink"></i>遗传算法(genetic algorithm)</span>
    是受Charles Darwin自然进化理论启发的搜索启发式算法。
    该算法反映了自然选择的过程，选择最合适的个体进行繁殖，以产生下一代后代。
  </p>

  <p>
    自动排课算法(TTP: Time Table Problem)，是一
    个N P 完全问题，集成了时间、空间的双重约束。从数学
    上讲，排课问题是一个在时间、教师、学生和教室四维空
    间，以教学计划和各种特殊要求为制约条件的组合规划问
    题。其实质就是解决各因素之间的冲突。无冲突是指不存
    在一个教师被同时安排给一个以上的班级上课，或一个以
    上教师被同时安排给同一个班级上课等。
  </p>

  <p>
    在众多软件公司研究的排课系统中，较多地采用传统
    回溯算法，但真正投入应用的排课软件却很少。原因在
    于，如果仅仅采用简单的回溯算法，通常情况下得到课
    表的适应度非常低，并且算法的复杂度比较高，通常为
    m×O(n3)。如某一门课程连续两天在同一时间上课，其他
    时间却没有安排此课程；或者不能满足教师连堂课的要求。
    然而，如果想得到一张高质量的课表，就要设定一周多学
    时课程的上课时间间隔，也不合适，因为初始排课时总的
    搜索空间非常大（班级数× 周学时数^ 总课程数），对一
    个有12 个班级，周学时为20(4×5)，共有20 门课的学校，
    这样的搜索空间是1.25829×1027；即使大部分课程已安
    排完毕，其余课程在有限的搜索空间中搜索合适的上课时
    间，由于定义了不适当的搜索间隔，可能永远也搜索不到
    合适的上课时间。显然，这样的效果是不能令人满意的。
    为了解决这一问题，考虑把人工智能的知识引入这一领域，
    结果发现使用遗传算法，可以大大减少搜索空间，使用适
    应度函数评估个体能够找到最优解，使用自适应的交叉和
    变异能使最优解尽快收敛。
  </p>

  <p>
  <span class="ui link wide borderless">-- <a rel="stylesheet" class="linkedin" href="http://galudisu.info">Galudisu.info</a></span>
  </p>
</div>
