<!-- Menu Bar -->
<div class="ui menu">
  <div class="ui container">
    <a href="#" class="header item">
      <img src="../assets/images/favicon-128x128.png"/></a>
    <div class="header item borderless">
      <h1 class="ui header">
        基于遗传算法的排课系统
      </h1>
    </div>
  </div>
</div>

<div class="ui stackable grid container">
  <div class="four wide column">
    <app-sidebar [items]="examples"></app-sidebar>
  </div>

  <div class="ui main text container fourteen wide column">
    <router-outlet></router-outlet>
  </div>
</div>
